name: PR Checks

on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"
          cache: true
          cache-dependency-path: scalar/go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: scalar
          args: --timeout=10m

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.0"
          cache: true
          cache-dependency-path: scalar/go.sum

      - name: Run Tests with Coverage
        run: |
          cd scalar
          go test -v -coverprofile=coverage.out ./...

      - name: Save coverage report
        uses: actions/upload-artifact@v4
        with:
          name: scalar-coverage
          path: scalar/coverage.out

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.0"
          cache: true
          cache-dependency-path: scalar/go.sum

      - name: Build
        run: |
          cd scalar
          go build ./...
